/* root */
:root[data-theme="light"] {
    color-scheme: light;
    --color-light-blue: #138291;
    --color-blue: #043CAE;
    --color-purple: #6549C4;
    --color-pink: #943680;
    --color-red: #862E2E;
    --color-orange: #B26A32;
    --color-yellow: #8C7820;
    --color-green: #326A35;
}

:root[data-theme="dark"] {
    color-scheme: dark;
    --color-light-blue: #9CFFFF;
    --color-blue: #6BBCEE;
    --color-purple: #C4A4F2;
    --color-pink: #F4C8EE;
    --color-red: #FE9395;
    --color-orange: #FDD888;
    --color-yellow: #F8F5A0;
    --color-green: #B9EBBE;
}

.color {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
}

/* light blue */
:root[data-color="light_blue"][data-theme="light"] {
    --background: #E5FFFF;
    --foreground: #113033;
    --primary: #2DA9B9;
    --accent: #138291;
}

:root[data-color="light_blue"][data-theme="dark"] {
    --background: #00191A;
    --foreground: #E5FFFF;
    --primary: #9CFFFF;
    --accent: #5DCAD1;
}

.light-blue {
    background-color: #9CFFFF;
    border: 1px solid #138291;
}

.color-light_blue {
    color: var(--color-light-blue);
}

/* blue */
:root[data-color="blue"][data-theme="light"] {
    --background: #E5ECFF;
    --foreground: #061D3E;
    --primary: #0049D8;
    --accent: #043CAE;
}

:root[data-color="blue"][data-theme="dark"] {
    --background: #000B1A;
    --foreground: #E5ECFF;
    --primary: #6BBCEE;
    --accent: #448CCF;
}

.blue {
    background-color: #6BBCEE;
    border: 1px solid #043CAE;
}

.color-blue {
    color: var(--color-blue);
}

/* purple */
:root[data-color="purple"][data-theme="light"] {
    --background: #F2E5FF;
    --foreground: #2B1D54;
    --primary: #8866F6;
    --accent: #6549C4;
}

:root[data-color="purple"][data-theme="dark"] {
    --background: #080316;
    --foreground: #F2E5FF;
    --primary: #C4A4F2;
    --accent: #9277CC;
}

.purple {
    background-color: #C4A4F2;
    border: 1px solid #6549C4;
}

.color-purple {
    color: var(--color-purple);
}

/* pink */
:root[data-color="pink"][data-theme="light"] {
    --background: #FFE5F9;
    --foreground: #4E1540;
    --primary: #D05ABC;
    --accent: #943680;
}

:root[data-color="pink"][data-theme="dark"] {
    --background: #1A0012;
    --foreground: #FFE5F9;
    --primary: #F4C8EE;
    --accent: #F09AE9;
}

.pink {
    background-color: #F4C8EE;
    border: 1px solid #943680;
}

.color-pink {
    color: var(--color-pink);
}

/* red */
:root[data-color="red"][data-theme="light"] {
    --background: #FFE5E5;
    --foreground: #431213;
    --primary: #C94A4B;
    --accent: #862E2E;
}

:root[data-color="red"][data-theme="dark"] {
    --background: #1A0000;
    --foreground: #FFE5E5;
    --primary: #FE9395;
    --accent: #C56668;
}

.red {
    background-color: #FE9395;
    border: 1px solid #862E2E;
}

.color-red {
    color: var(--color-red);
}

/* orange */
:root[data-color="orange"][data-theme="light"] {
    --background: #FFF4E5;
    --foreground: #582F14;
    --primary: #E0944E;
    --accent: #B26A32;
}

:root[data-color="orange"][data-theme="dark"] {
    --background: #1A0B00;
    --foreground: #FFF4E5;
    --primary: #FDD888;
    --accent: #D4A05D;
}

.orange {
    background-color: #FDD888;
    border: 1px solid #B26A32;
}

.color-orange {
    color: var(--color-orange);
}

/* yellow */
:root[data-color="yellow"][data-theme="light"] {
    --background: #FFFFE5;
    --foreground: #39300C;
    --primary: #CDB440;
    --accent: #8C7820;
}

:root[data-color="yellow"][data-theme="dark"] {
    --background: #181202;
    --foreground: #FFFFE5;
    --primary: #F8F5A0;
    --accent: #E2D764;
}

.yellow {
    background-color: #F8F5A0;
    border: 1px solid #8C7820;
}

.color-yellow {
    color: var(--color-yellow);
}

/* green */
:root[data-color="green"][data-theme="light"] {
    --background: #E5FFF0;
    --foreground: #1E3B20;
    --primary: #529757;
    --accent: #326A35;
}

:root[data-color="green"][data-theme="dark"] {
    --background: #061307;
    --foreground: #E5FFF0;
    --primary: #B9EBBE;
    --accent: #84C98A;
}

.green {
    background-color: #B9EBBE;
    border: 1px solid #326A35;
}

.color-green {
    color: var(--color-green);
}