/* Importing the Google Font */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* Color Scheme */
[data-color-scheme="dark"] {
    color-scheme: dark;
}

[data-color-scheme="light"] {
    color-scheme: light;
}

/* Root */
:root {
    --bg: #e1e5f8;
    --bg-glass: rgb(251, 251, 251, 0.65);
    --border: #a9b5e2;
    --text: #000000;
    --accent: #576cbc;

    --title-image: linear-gradient(to right, #576CBC, #A5D7E8);

    --content-bg: #f6f8fc;
    --content-border: #d4d3c1;

    --link-bg: #e2e0cf;
    --link-border: #c7c7b5;
}

/* Body */
body {
    font-family: 'Space Grotesk';
    font-size: 18px;

    background-color: var(--bg);
    color: var(--text);
    border-top: none;

    overflow: auto;

    width: 100%;
}

/* Dark Mode */
body.dark {
    --bg: #050f29;
    --bg-glass: rgb(28, 28, 28, 0.65);
    --border: #0B2447;
    --text: #ffffff;
    --accent: #576cbc;

    --title-image: linear-gradient(to right, #0B2447, #19376D);

    --content-bg: #0d111b;
    --content-border: #1b1b1b;

    --link-bg: #242424;
    --link-border: #444444;
}

.navbar {
    background-color: var(--bg-glass);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);

    width: calc(100%);
    position: fixed;

    background-image: url('images/noise/noise.png');
    background-repeat: repeat;
}

.nav-menu {
    display: flex;
    justify-content: center;
    height: 100%;
}

.nav-menu .nav-icon {
    display: none;
    float: right;
}

.nav-menu a {
    background-color: transparent;
    border: none;
    color: var(--text);
    padding: 16px 24px;
}

.nav-brand {
    display: block;
}

.content-title {
    background-image: url("images/WIP.png");
    color: #ffffff;
    padding-top: 20rem;
    padding-bottom: 0;
}

.title-text {
    background-image: linear-gradient(to bottom, rgb(24, 24, 24, 0), rgb(24, 24, 24, 0.6));
    padding: 2rem 5rem;
}

.content-title h1 {
    font-size: 3.5rem;
}

.content-title p {
    font-size: 1.5rem;
}

.content {
    background-color: var(--content-bg);
    border: 1px solid var(--content-border);
    margin: 5rem;
    padding: 4rem;
}

.content-inner {
    border: 1px solid var(--content-border);
    padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 2rem;
}

.title{
    font-size: 2.5rem;
    text-decoration: underline;
}

p {
    font-size: 1.25rem;
}

a {
    background-color: var(--link-bg);
    border: 1px solid var(--link-border);
    color: var(--text);
    text-decoration: none;
    padding: 12px 18px;
    display: inline-block;
}

a:hover {
    font-weight: bold;
}

a:active {
    color: var(--accent);
    font-weight: bold;
}

button {
    border: none;
}

hr {
    border: none;
    border-bottom: 1px solid var(--border);
}

footer {
    padding: 16px 24px;
}

@media screen and (max-width: 750px) {
    .nav-menu a:not(:first-child) {
        display: none;
    }

    .nav-menu a.nav-icon {
        display: block;
        position: absolute;
        right: 0;
        border-right: none;
    }
}

@media screen and (max-width: 1000px) {
    .content {
        margin: 3rem;
        padding: 3rem;
    }

    .content-inner {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 750px) {
    .content {
        margin: 1rem;
        padding: 2.5rem;
    }

    .content-inner {
        padding: 1rem;
    }

    .nav-menu.responsive {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .nav-menu.responsive .nav-icon {
        position: absolute;
        right: 0;
        top: 0;
        border-right: none;
    }

    .nav-menu.responsive a {
        display: block;
        text-align: left;
        border-right: none;
    }

    .content-title {
        padding-top: 10rem;
        padding-bottom: 0;
    }

    .title-text {
        padding: 2rem;
    }

    .content-title h1 {
        font-size: 2.25rem;
    }

    .content-title p {
        font-size: 1.25rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}