/* Importing the Google Font */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* Color Scheme */
[data-color-scheme="dark"] {
    color-scheme: dark;
}

[data-color-scheme="light"] {
    color-scheme: light;
}

/* Root */
:root {
    --bg: #daeef6;
    --bg-glass: rgba(255, 255, 255, 0.65);
    --border: #000000;
    --text: #000000;
    --accent: #576cbc;

    --content-bg: #e7f4f9;

    --link-bg: #d1eaf3;
    --link-border: #c0e2ee;
}

/* Body */
body {
    font-family: 'Space Grotesk';
    font-size: 18px;

    background-color: var(--bg);
    color: var(--text);
    border: 1px solid var(--border);
    border-top: none;
}

/* Dark Mode */
body.dark {
    --bg: #020a16;
    --bg-glass: rgba(0, 0, 0, 0.65);
    --border: #ffffff;
    --text: #ffffff;
    --accent: #576cbc;

    --content-bg: #040f1e;

    --link-bg: #061428;
    --link-border: #0a1d38;
}

.navbar {
    background-color: var(--bg-glass);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);

    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);

    width: calc(100% - 2px);
    position: fixed;

    background-image: url('images/noise/noise.png');
    background-repeat: repeat;
}

.nav-menu {
    display: flex;
    justify-content: center;
    height: 100%;
}

.nav-menu .nav-icon {
    display: none;
    float: right;
}

.nav-menu a {
    background-color: transparent;
    border: none;
    color: var(--text);
    padding: 16px 24px;
}

.content {
    background-color: var(--content-bg);
    border: 1px solid var(--border);
    margin: 0 5rem;
    padding: 3rem;
}

.content-title {
    background-color: var(--content-bg);
    margin: 0 5rem;
    padding: 10rem 3rem 2rem 3rem;
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
}

.content-inner {
    border: 2px dashed var(--border);
    padding: 2rem;
    border-radius: 16px;
}

a {
    background-color: var(--link-bg);
    border: 1px solid var(--link-border);
    color: var(--text);
    text-decoration: none;
    padding: 12px 18px;
    display: inline-block;
    border-radius: 8px;
}

a:hover {
    font-weight: bold;
}

a:active {
    color: var(--accent);
    font-weight: bold;
}

footer {
    padding: 16px 24px;
}

@media screen and (max-width: 1023px) {
    .content {
        margin: 0 3rem;
        padding: 2rem;
    }

    .content-title {
        margin: 0 3rem;
        padding: 8rem 2rem 1.5rem 2rem;
    }

    .content-inner {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 767px) {
    .nav-menu a:not(:first-child) {
        display: none;
    }

    .nav-menu a.nav-icon {
        display: block;
        position: absolute;
        right: 0;
        border-right: none;
    }

    .content {
        margin: 0 1rem;
        padding: 1.5rem;
    }

    .content-title {
        margin: 0 1rem;
        padding: 6rem 1.5rem 1rem 1.5rem;
    }

    .content-inner {
        padding: 1rem;
    }

    .nav-menu.responsive {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .nav-menu.responsive .nav-icon {
        position: absolute;
        right: 0;
        top: 0;
        border-right: none;
    }

    .nav-menu.responsive a {
        display: block;
        text-align: left;
        border-right: none;
    }
}