/* Importing the Google Font */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* Root */
:root {
    --bg: #1c1c1c;
    --bg-glass: rgb(28, 28, 28, 0.4);
    --border: #3c3c3c;
    --text: #ffffff;
    --accent: #576cbc;

    --title-image: linear-gradient(to right, #0B2447, #19376D);

    --content-bg: #181818;
    --content-border: #303030;

    --link-bg: #242424;
    --link-border: #444444;
}

/* Body */
body {
    font-family: 'Space Grotesk';
    font-size: 18px;

    background-color: var(--bg);
    color: var(--text);
    border: 1px solid var(--border);
    border-top: none;

    overflow: auto;

    width: 100%;
    margin: 0;
}

.navbar {
    backdrop-filter: blur(40px);

    width: calc(100% - 2px);
    position: fixed;
}

.nav-menu {
    display: flex;
    justify-content: center;
    height: 100%;
    overflow-x: auto;
}

.nav-menu .nav-icon {
    display: none;
    float: right;
}

.nav-menu a {
    background-color: transparent;
    border: none;
    color: var(--text);
    padding: 16px 24px;
    margin: 0;
}

.nav-brand {
    display: block;
}

.content-title {
    background-image: url("images/WIP.png");
    color: #ffffff;
    padding-top: 20rem;
    padding-bottom: 0;
    border-bottom: 1px solid var(--border);
}

.title-text {
    background-image: linear-gradient(to bottom, rgb(24, 24, 24, 0), rgb(24, 24, 24, 0.6));
    padding: 2rem 5rem;
}

.content-title h1 {
    font-size: 3.5rem;
}

.content-title p {
    font-size: 1.5rem;
}

.content {
    background-color: var(--content-bg);
    border: 1px solid var(--content-border);
    margin: 5rem;
    padding: 4rem;
}

.content-inner{
    border: 1px solid var(--content-border);
    padding: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 2rem;
}

p{
    font-size: 1.25rem;
}

a {
    background-color: var(--link-bg);
    border: 1px solid var(--link-border);
    color: var(--text);
    text-decoration: none;
    padding: 16px 24px;
    display: inline-block;
}

a:hover {
    font-weight: bold;
}

a:active {
    color: var(--accent);
    font-weight: bold;
}

button {
    border: none;
}

hr {
    border: none;
    border-bottom: 1px solid var(--border);
}

footer {
    border-top: 1px solid var(--border);
    padding: 16px 24px;
}

@media screen and (max-width: 800px) {
    .nav-menu a:not(:first-child) {
        display: none;
    }

    .nav-menu a.nav-icon {
        display: block;
        position: absolute;
        right: 0;
        border-right: none;
    }
}

@media screen and (max-width: 800px) {
    .content {
        margin-left: 0;
        margin-right: 0;
        border-left: none;
        border-right: none;
        padding: 4rem;
    }

    .nav-menu.responsive {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .nav-menu.responsive .nav-icon {
        position: absolute;
        right: 0;
        top: 0;
        border-right: none;
    }

    .nav-menu.responsive a {
        display: block;
        text-align: left;
        border-right: none;
    }

    .content-title {
        padding-top: 12rem;
        padding-bottom: 0;
    }

    .title-text {
        padding: 2rem;
    }

    .content-title h1 {
        font-size: 3rem;
    }

    .content-title p {
        font-size: 1.25rem;
    }
}